<div class="panel panel-default">

    <div class="panel-body">
        <div class="col-md-8">

        </div>
        <div class="col-md-2">

        </div>

        <div class="col-md-2">
            <button ng-if="permission.expenses.csv==1" type="button" ng-csv="getArray()"
                    class="btn btn-sm btn-primary btn-addon pull-right m-xs"
                    csv-header="['Date','Expense Type','Amount Type','Cheque Number','Reason','Amount']"
                    filename="expenses.csv">Export
            </button>

            <a href="#/app/expenses/create">
                <button ng-if="permission.expenses.add==1" class="btn btn-sm btn-primary btn-addon pull-right m-xs"
                        ng-if="permission.expenses.add==1">
                    <i class="fa fa-plus"></i>Add
                </button>
            </a>
        </div>
    </div>

    <table st-table="data.expenses" class="table table-striped">
        <thead>
        <tr>
            <th colspan="4">
                <form>
                    <div class="col-md-5">items by page</div>
                    <div class="col-md-7">
                        <input class="input-sm form-control" name="items" id="items" type="number"
                               ng-model="itemsByPage">
                    </div>
                </form>
            </th>
            <!--<th colspan="2"></th>-->
            <th colspan="4" >
                <div class="col-md-3">Search</div>
                <div class="col-md-9">
                    <input st-search placeholder="global search" class="input-sm form-control" type="search"/>
                </div>
            </th>
        </tr>
        <tr>
            <th st-sort="date">Date</th>
            <th st-sort="expense_type">Type</th>
            <th st-sort="amount_type">Amount Type</th>
            <th st-sort="cheque_number">Cheque Number</th>
            <th st-sort="reason">Reason</th>
            <th st-sort="amount">Amount</th>
            <th ng-if="permission.expenses.edit==1">Edit</th>
            <th ng-if="permission.expenses.delete==1">Delete</th>
        </tr>
        </thead>
        <tbody ng-init="data.income = 0;data.expense = 0;">
        <tr ng-repeat="row in data.expenses">
            <td>{{row.date}}</td>
            <td>
                <button class="btn btn-default {{ row.expense_type == 'credit' ? 'btn-danger' : 'btn-success' }}">{{ row.expense_type}}</button>
            </td>
            <td>{{row.amount_type}}</td>
            <td>{{row.cheque_number}}</td>
            <td>{{row.reason}}</td>
            <td ng-if="row.expense_type == 'credit'" ng-init="data.income =  1 * data.income +  1 * row.amount">{{row.amount}}</td>
            <td ng-if="row.expense_type == 'debit'" ng-init="data.expense =  1 * data.expense +  1 * row.amount">{{row.amount}}</td>

            <td ng-if="permission.expenses.edit==1">
                <a href='#/app/expenses/edit/{{ row.edit }}'>
                    <button class="btn btn-sm btn-primary" tooltip="Edit"><i class=" fa fa-pencil"></i></button>
                </a>
            </td>
            <td ng-if="permission.expenses.delete==1">
                <a href='#/app/expenses/delete/{{ row.delete }}'>
                    <button class="btn btn-sm btn-danger" tooltip="Delete"><i class=" fa fa-trash-o"></i></button>
                </a>
            </td>

        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td><b>Total Income</b></td>
            <td><b>{{ data.income }}</b></td>
            <td><b>Total Expense</b></td>
            <td><b>{{ data.expense }}</b></td>
            <td><b>Remaining Balance</b></td>
            <td><b>{{  1 * data.income -  1 * data.expense }}</b></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="9" class="text-center">
                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="20"
                     class="no-margin"></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>