<div class="panel panel-default">
    <table st-table="data.leaves" class="table">
        <thead>
        <tr>
            <th st-sort="leaves_id">Id</th>
            <th st-sort="user_name">User Name</th>
            <th st-sort="description">Reason</th>
            <th st-sort="leave_name">Leave Type</th>
            <th st-sort="leave_date">Date</th>
            <!--<th st-sort="leave_status">Status</th>-->
            <th ng-if="permission.leaves.edit==1">Approve/Reject</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in data.leaves" style="color:#000000; background-color: {{row.leave_status == 'reject'?'#F06A6A' : ''}}  !important;">
            <td>{{row.leaves_id}}</td>
            <td>{{row.user_name}}</td>
            <td>{{row.description}}</td>
            <td>{{row.leave_name}}</td>
            <td>{{row.leave_date}}</td>
            <!--<td>{{row.leave_status}}</td>-->
            <td ng-if="permission.leaves.edit==1">
                <a  ng-click="leave_status_true(row.approve,selected)">
                    <button class="btn btn-sm btn-success" tooltip="Approve"><i class="glyphicon {{selected == 'report'?' glyphicon-chevron-left' : 'glyphicon-ok'}} "></i></button>
                </a>
                <a  ng-click="leave_status_false(row.reject,selected)">
                    <button class="btn btn-sm btn-danger" tooltip="Reject"><i class=" glyphicon glyphicon-remove"></i></button>
                </a>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5" class="text-center">
                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="20"
                     class="no-margin"></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>