<form name="formValidate" class="form-horizontal form-validation" novalidate>
<div class="form-group">
    <label class="col-sm-2 control-label">Project Name</label>

    <div class="col-sm-4">
        <input type="text" class="form-control" ng-model="data.password_mgmts.project_name">
    </div>
    <span ng-if="permission.password_mgmts.edit==1">
        <label class="col-sm-2 control-label">User</label>

        <div class="col-sm-4">
            <select ui-jq="chosen" multiple class="w-md" data-placeholder="Select user"
                    ng-model="data.password_mgmts.user_ids"
                    data-ng-options="user.first_name for user in us track by user.user_id">
            </select>
        </div>
    </span>
</div>

<tabset justified="true" class="tab-container">
<tab>
    <tab-heading>
        <b>Live</b>
    </tab-heading>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Front-end URL</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="data.password_mgmts.live_f_url">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Back-end URL</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="data.password_mgmts.live_b_url">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Back-end Username 1</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                   ng-model="data.password_mgmts.live_b_username1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Back-end Password 1 </label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                   ng-model="data.password_mgmts.live_b_password1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Back-end Username 2</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                   ng-model="data.password_mgmts.live_b_username2">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Back-end Password 2</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                   ng-model="data.password_mgmts.live_b_password2">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Back-end Username 3</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                   ng-model="data.password_mgmts.live_b_username3">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Back-end Password 3</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                   ng-model="data.password_mgmts.live_b_password3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Cpanel URL</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="data.password_mgmts.live_c_url">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Cpanel Username</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                   ng-model="data.password_mgmts.live_c_username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Cpanel Password</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                   ng-model="data.password_mgmts.live_c_password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">FTP Host</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                   ng-model="data.password_mgmts.live_ftp_host">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">FTP PORT </label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                   ng-model="data.password_mgmts.live_ftp_port">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">FTP Username </label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                   ng-model="data.password_mgmts.live_ftp_username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">FTP Password </label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                   ng-model="data.password_mgmts.live_ftp_password">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</tab>
<tab>
    <tab-heading>
        <b>Stagging</b>
    </tab-heading>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Front-end URL</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                   ng-model="data.password_mgmts.stagging_f_url">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Back-end URL</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                   ng-model="data.password_mgmts.stagging_b_url">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Back-end Username 1</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                   ng-model="data.password_mgmts.stagging_b_username1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Back-end Password 1 </label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                   ng-model="data.password_mgmts.stagging_b_password1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Back-end Username 2</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                   ng-model="data.password_mgmts.stagging_b_username2">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Back-end Password 2</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                   ng-model="data.password_mgmts.stagging_b_password2">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Back-end Username 3</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                   ng-model="data.password_mgmts.stagging_b_username3">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Back-end Password 3</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                   ng-model="data.password_mgmts.stagging_b_password3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Cpanel URL</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                   ng-model="data.password_mgmts.stagging_c_url">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Cpanel Username</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                   ng-model="data.password_mgmts.stagging_c_username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Cpanel Password</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                   ng-model="data.password_mgmts.stagging_c_password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">FTP Host</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                   ng-model="data.password_mgmts.stagging_ftp_host">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">FTP PORT </label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                   ng-model="data.password_mgmts.stagging_ftp_port">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">FTP Username </label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                   ng-model="data.password_mgmts.stagging_ftp_username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">FTP Password </label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                   ng-model="data.password_mgmts.stagging_ftp_password">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</tab>
<tab>
    <tab-heading>
        <b>Our Server</b>
    </tab-heading>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Front-end URL</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                   ng-model="data.password_mgmts.ourserver_f_url">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Back-end URL</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                   ng-model="data.password_mgmts.ourserver_b_url">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Back-end Username 1</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                   ng-model="data.password_mgmts.ourserver_b_username1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Back-end Password 1 </label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                   ng-model="data.password_mgmts.ourserver_b_password1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Back-end Username 2</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                   ng-model="data.password_mgmts.ourserver_b_username2">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Back-end Password 2</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                   ng-model="data.password_mgmts.ourserver_b_password2">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Back-end Username 3</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                   ng-model="data.password_mgmts.ourserver_b_username3">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Back-end Password 3</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                   ng-model="data.password_mgmts.ourserver_b_password3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Cpanel URL</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                   ng-model="data.password_mgmts.ourserver_c_url">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Cpanel Username</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                   ng-model="data.password_mgmts.ourserver_c_username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Cpanel Password</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                   ng-model="data.password_mgmts.ourserver_c_password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">FTP Host</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                   ng-model="data.password_mgmts.ourserver_ftp_host">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">FTP PORT </label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                   ng-model="data.password_mgmts.ourserver_ftp_port">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">FTP Username </label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                   ng-model="data.password_mgmts.ourserver_ftp_username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">FTP Password </label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                   ng-model="data.password_mgmts.ourserver_ftp_password">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</tab>
</tabset>
<footer class="panel-footer text-right bg-light lter">
    <button type="submit" class="btn btn-success" ng-click="update()">Submit</button>
</footer>
</form>