<div class="panel panel-default">

    <div class="panel-body">
        <div class="col-md-8">

        </div>
        <div class="col-md-2">

        </div>

        <div class="col-md-2">
            <button ng-if="permission.recruit_candidates.csv==1" type="button" ng-csv="getArray()"
                    class="btn btn-sm btn-primary btn-addon pull-right m-xs"
                    csv-header="['ID', 'Name']"
                    filename="recruit_candidates.csv">Export
            </button>

            <a href="#/app/recruit_candidates/create">
                <button ng-if="permission.recruit_candidates.add==1"
                        class="btn btn-sm btn-primary btn-addon pull-right m-xs"
                        ng-if="permission.recruit_candidates.add==1">
                    <i class="fa fa-plus"></i>Add
                </button>
            </a>
        </div>
    </div>

    <table st-table="data.candidates" class="table table-striped">
        <thead>
        <tr>
            <th colspan="2">
                <form>
                    <div class="col-md-5">items by page</div>
                    <div class="col-md-7">
                        <input class="input-sm form-control" name="items" id="items" type="number"
                               ng-model="itemsByPage">
                    </div>
                </form>
            </th>
            <!--<th colspan="2"></th>-->
            <th colspan="2">
                <div class="col-md-3">Search</div>
                <div class="col-md-9">
                    <input st-search placeholder="global search" class="input-sm form-control" type="search"/>
                </div>
            </th>
        </tr>
        <tr>
            <th st-sort="recruit_candidates_fname">Name</th>
            <th st-sort="designation.designations_name">Designation</th>
            <th st-sort="recruit_candidates_contact_no">Contact Number</th>
            <th st-sort="recruit_candidates_status">Status</th>
            <th st-sort="recruit_candidates_action">Action</th>
            <th ng-if="permission.recruit_candidates.edit==1">Edit</th>
            <!--<th ng-if="permission.recruit_candidates.delete==1">Delete</th>-->
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in data.candidates">
            <td>{{row.recruit_candidates_fname}} {{row.recruit_candidates_lname}}</td>
            <td>{{row.designation.designations_name}}</td>
            <td>{{row.recruit_candidates_contact_no}}</td>
            <td>
                <button ng-if="row.recruit_candidates_status == 'Pending'" type="button" class="btn btn-primary"
                        ng-click="change_status($index)">{{row.recruit_candidates_status}}
                </button>
                <button ng-if="row.recruit_candidates_status != 'Pending'" type="button"
                        class="btn {{row.recruit_candidates_status == 'Rejected'?'btn-danger' : 'btn-success'}}">
                    {{row.recruit_candidates_status}}
                </button>
            </td>
            <td>
                <button ng-if="row.recruit_candidates_action == 'To Be Scheduled'" ng-click="change_action($index)"
                        type="button"
                        class="btn btn-warning">
                    {{row.recruit_candidates_action}}
                </button>
                <button ng-if="row.recruit_candidates_action == 'Reschedule'" ng-click="change_action($index)"
                        type="button"
                        class="btn btn-success">
                    {{row.recruit_candidates_action}} - {{ row.reschedule_count }}
                </button>
                <button ng-if="row.recruit_candidates_action == 'Offer Letter'" ng-click="send_offer_letter($index)"
                        type="button"
                        class="btn btn-pink">
                    {{row.recruit_candidates_action}}
                </button>
                <button ng-if="row.recruit_candidates_action == 'Rejected'" type="button" class="btn btn-danger">
                    {{row.recruit_candidates_action}}
                </button>
                <button ng-if="row.recruit_candidates_action == 'Selected'" type="button" class="btn btn-success">
                    {{row.recruit_candidates_action}}
                </button>
            </td>

            <td ng-if="permission.recruit_candidates.edit==1">
                <a href='#/app/recruit_candidates/edit/{{ row.edit }}'>
                    <button class="btn btn-sm btn-primary" tooltip="Edit"><i class=" fa fa-pencil"></i></button>
                </a>
            </td>
            <!--<td ng-if="permission.recruit_candidates.delete==1">-->
            <!--<a href='#/app/recruit_candidates/delete/{{ row.delete }}'>-->
            <!--<button class="btn btn-sm btn-danger" tooltip="Delete"><i class=" fa fa-trash-o"></i></button>-->
            <!--</a>-->
            <!--</td>-->

        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5" class="text-center">
                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="20"
                     class="no-margin"></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>

<script type="text/ng-template" id="changeStatus.html">
    <div class="modal-header">
        <h3 class="modal-title">Select the candidate Status !!</h3>


        <form name="formValidate" class="form-horizontal form-validation" novalidate>
            <div class="form-group">
                <label class="col-sm-3 control-label">Status : </label>

                <div class="col-sm-9">
                    <div class="btn-group">
                        <label uncheckable="" btn-radio="'Select'" ng-model="status"
                               class="btn  ng-untouched ng-valid ng-dirty">Select</label>
                        <label uncheckable="" btn-radio="'Reject'" ng-model="status"
                               class="btn  ng-untouched ng-valid ng-dirty">Reject</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="changeAction.html">
    <div class="modal-header">
        <h3 class="modal-title">Schedule An Interview !!</h3>

        <hr>
        <form name="formValidate" class="form-horizontal form-validation" novalidate>
            <div class="form-group">
                <label class="col-sm-3 control-label">Candidate Name</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="data.candidate.recruit_candidates_fname" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">To</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="data.candidate.recruit_candidates_email" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Select Date</label>

                <div class="col-sm-9">
                    <div class="form-group">
                        <div class="col-sm-9" ng-controller="DatepickerDemoCtrl">
                            <div class="input-group w-md">
                                <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd"
                                       ng-model="data.candidate.date"
                                       is-open="opened" datepicker-options="dateOptions" ng-required="true"
                                       close-text="Close"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event)"><i
                                        class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Time </label>

                <div class="col-sm-9">
                    <div ng-controller="TimepickerDemoCtrl">
                        <timepicker ng-model="data.candidate.time" ng-change="changed()" hour-step="hstep"
                                    minute-step="mstep"
                                    show-meridian="ismeridian"></timepicker>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Subject</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="data.candidate.subject">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Message</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="data.candidate.message">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Applied For</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="data.candidate.designation.designations_name"
                           readonly>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="sendOfferLetter.html">
    <div class="modal-header">
        <h3 class="modal-title">Send Offer letter !!</h3>

        <hr>
        <form name="formValidate" class="form-horizontal form-validation" novalidate>
            <div class="form-group">
                <label class="col-sm-3 control-label">Candidate Name</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="data.candidate.recruit_candidates_fname" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">To</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="data.candidate.ofrltr_to_email" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Select Date</label>

                <div class="col-sm-9" ng-controller="DatepickerDemoCtrl">
                    <div class="input-group w-md">
                        <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd"
                               ng-model="data.candidate.ofrltr_date"
                               is-open="opened" datepicker-options="dateOptions" ng-required="true"
                               close-text="Close"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event)"><i
                                        class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Subject</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="data.candidate.ofrltr_subject">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Message</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="data.candidate.ofrltr_message">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Applied For</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="data.candidate.designation.designations_name"
                           readonly>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label">Joining Date</label>

                <div class="col-sm-9" ng-controller="DatepickerDemoCtrl">
                    <div class="input-group w-md">
                        <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd"
                               ng-model="data.candidate.ofrltr_joining_date"
                               is-open="opened" datepicker-options="dateOptions" ng-required="true"
                               close-text="Close"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event)"><i
                                        class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Joining Time</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="data.candidate.ofrltr_joining_time">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">CTC</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="data.candidate.ofrltr_ctc">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Department</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="data.candidate.ofrltr_department">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Offer Letter Number</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="data.candidate.ofrltr_number">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>